html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 3rem;
}

.sketch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketchpad {
  width: 960px;
  display: grid;
}

.sketchpad div {
  border: 1px solid black;
  padding: 10px;
}
