html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 3rem;
}

.sketch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketchpad {
  width: 960px;
  height: 960px;
  display: grid;
  border: 2px solid black;
  max-width: 960px;
  max-height: 960px;
}

.sketchpad div {
  border: 1px solid black;
}

.clear-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.clear-grid {
  background-color: #c60f13;
  color: #fff;
  font-size: 1.5rem;
}

.button {
  padding: 10px  30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}